PORT=3001
JWT_SECRET=cambiar-en-produccion

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sem?schema=public"

# Cuenta Municipalidad
MUNICIPIO_EMAIL=municipio@salta.gob.ar
MUNICIPIO_PASSWORD=
